@media screen and (min-width: 320px) and (max-width: 599px){
    .visible{
        display: none;
        visibility: hidden;
    }
    .hidden{
        display: block;
        visibility: visible;
    }

    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    .nav-logo{
        width: 80px;
    }

    nav{
        position: absolute;
        top: -120vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-primary-transp);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 120px);
        width: 100%;
        transition: .6s;
        padding: 10px !important;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .active{
        top: 120px;
        left: 0;
    }

    .container-cart{
        width: 80%;
        height: 65vh;
    }



}

@media screen and (min-width: 600px) and (max-width: 768px){
    .visible{
        display: none;
        visibility: hidden;
    }
    .hidden{
        display: block;
        visibility: visible;
    }

    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    nav{
        position: absolute;
        top: -120vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-secondary-transp);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 120px);
        width: 100%;
        transition: .6s;
        padding: 10px !important;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .active{
        top: 120px;
        left: 0;
    }

    .container-cart{
        width: 80%;
        height: 65vh;
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px){

}


        