@media screen and (min-width: 320px) and (max-width: 599px){
    .visible{
        display: none;
        visibility: hidden;
    }
    .hidden{
        display: block;
        visibility: visible;
    }

    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    .nav-logo{
        width: 80px;
    }

    nav{
        position: absolute;
        top: -120vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-primary-transp);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 120px);
        width: 100%;
        transition: .6s;
        padding: 10px !important;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .active{
        top: 120px;
        left: 0;
    }

    .container-cart{
        width: 80%;
        height: 65vh;
        transform: translateY(-160%);
    }

    .take-off{
        transform: translateY(0%);
    }

    .card-product{
        width: 95%;
    }
    .card-tittle h2, .card-bid h3{
        font-size: 25px;
    }
    .btn-add-card i{
        font-size: 30px;
    }

    .filter{
        flex-wrap: wrap;
    }

    .btn-filter{
        width: 30%;
        font-size: 15px;
    }

    footer{
        height: 280px;
    }

    .info{
        flex-direction: column-reverse;
        height: 25vh;
    }

    .social-media, .text-footer h3{
        font-size: 25px;
    }
    .social-media{
        margin-bottom: 15px;
    }
    .text-footer h4{
        font-size: 16px;
    }

    .location{
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px){
    .visible{
        display: none;
        visibility: hidden;
    }
    .hidden{
        display: block;
        visibility: visible;
    }

    .container-navbar{
        margin-top: -20px;
    }

    .nav-logo{
        width: 150px;
    }

    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    nav{
        position: absolute;
        top: -120vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-primary-transp);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 120px);
        width: 100%;
        transition: .6s;
        padding: 10px !important;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .active{
        top: 120px;
        left: 0;
    }

    .container-cart{
        width: 80%;
        height: 65vh;
        transform: translateY(-160%);
    }

    .take-off{
        transform: translateY(0%);
    }

    .container-cart{
        width: 80%;
        height: 65vh;
        transform: translateY(-160%);
    }

    .take-off{
        transform: translateY(0%);
    }

    .card-product{
        width: 45%;
    }
    .card-tittle h2, .card-bid h3{
        font-size: 22px;
    }
    .btn-add-card i{
        font-size: 25px;
    }

    .filter{
        flex-wrap: wrap;
    }

    .btn-filter{
        width: 30%;
        font-size: 15px;
    }

    footer{
        height: 275px;
    }

    .info{
        flex-direction: column-reverse;
        height: 25vh;
    }

    .social-media, .text-footer h3{
        font-size: 25px;
    }
    .social-media{
        margin-bottom: 15px;
    }
    .text-footer h4{
        font-size: 16px;
    }

    .location{
        flex-direction: column;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px){
    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    nav{
        position: absolute;
        top: -120vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-primary-transp);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 120px);
        width: 100%;
        transition: .6s;
        padding: 10px !important;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .active{
        top: 120px;
        left: 0;
    }

    .container-cart{
        width: 70%;
        height: 75vh;
        transform: translateY(-160%);
    }

    .take-off{
        transform: translateY(0%);
    }

    .filter{
        flex-wrap: wrap !important;
    }

    footer{
        height: 235px;
    }
}


        